* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.btn-add-new-task {
  padding: 2em 3em;
  background-color: rgb(84, 34, 61);
  color: white;
  font-weight: bold;
  border-radius: 25px;

  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  align-items: center;
  height: 80px;
  padding-left: 25em;
  display: flex;
  justify-content: space-between;
  padding-right: 2em;
}
nav {
  width: 20%;
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: rgb(21, 17, 25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4em 0;
  align-items: center;
}
.boards {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.boards button {
  padding: 0.8em 3em;
  background-color: rgb(84, 34, 61);
  font-weight: bold;
  border: 0;
  border-radius: 2em;
  margin-top: 2em;
}
#hide-side-bar {
  background: none;
  outline: none;
  padding: 0.3em 2em;
}

.modal-btn {
  padding: 0.5em 1.5em;
  border: 0;
  border: 25px;
}
.btn-group {
  display: flex;
  gap: 0.6em;
  bottom: 2em;
  position: absolute;
}
.btn-group button {
  padding: 0.8em 2em;
  border-radius: 25px;
}
.over-lay {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.45);
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 4em;
  height: 500px;
  padding: 0.4em 1em;
  width: 400px;
  border-radius: 0.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
  background-color: rgb(29, 42, 48);
  position: relative;
}
#btn-save {
  background-color: rgb(11, 143, 86);
}
#btn-cancel {
  background-color: rgb(190, 226, 31);
}
#btn-delete {
  background-color: rgb(182, 25, 25);
}
#desc-input {
  background-color: transparent;
  color: white;
}
#title-input {
  background-color: transparent;
  height: 40px;
}
